{%  extends 'common/head-foot.html' %}
{% load static %}

{% block 'content' %}



<table class="table table-striped table-bordered table-sm">
    <thead class="thead-dark">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phoneno</th>
        <th>Gender</th>
        <th>Address</th>
        <th>Password</th>
        <th>Confirm password</th>
        <th>Birthdate</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
{% for sh in show %}
    <tr>
        <td>{{ sh.id }}</td>
        <td>{{ sh.name }}</td>
        <td>{{ sh.email }}</td>
        <td>{{ sh.phone_no }}</td>
        <td>{{ sh.gender }}</td>
        <td>{{ sh.address }}</td>
        <td>{{ sh.password }}</td>
        <td>{{ sh.conf_password }}</td>
        <td>{{ sh.birthdate }}</td>
        <td>
<!--            <a href="/edit/{{ employee.id }}"><span class="glyphicon glyphicon-pencil" >Edit</span></a>  -->
            <a href=" ">Delete</a>
        </td>
    </tr>
{% endfor %}
    </tbody>
</table>




















{% endblock %}